.green {
  color: rgb(12, 103, 207);
}

.imgContainer {
  width: 500px;
  height: 400px;
  align-items: center;
}

h1 {
  text-align: center;
}

button {
  width: 100px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}