.categoryPageTitle {
  padding: 2%;
  font-size: 40pt;
}

.placeLeft {
  justify-content: end;
}

.categoryPad {
  padding: 1%;
}

.sectionContainer {
  padding-left: 15%;
  padding-right: 5%;
}

.categoryFlex {
  display: flex;
  gap: 5%;
}

.sectionTitle {
  font-size: 25pt;
}

.tile {
  padding: 3%;
  width: 200px;
  background-color: aqua;
  border: gray solid 3px;
}

.centerText {
  text-align: center;
  font-size: 20pt;
}

.xBtn {
  text-align: end;
  margin: 2%;
}

.xFont {
  font-size: 15pt;
  padding: 5%;
}

.bigDisplayHeader {
  text-align: center;
  font-size: 40pt;
}

.bigDisplayBtnFlex {
  display: flex;
  justify-content: space-between;
}

.bigDisplayDescr {
  font-size: 20pt;
  padding: 3%;
}

.bigDisplayBtns {
  font-size: 15pt;
  padding: 1%;
  margin: 3%;
}

.bigDisplayContainer {
  background-color: aqua;
  border: solid gray 3px;
  margin: 5%;
}
